@import url(//fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.float-right {
  float: right; }

.float-left {
  float: left; }

.margin {
  margin: 20px; }

.no-margin {
  margin: 0; }

.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-horizontal {
  margin-right: 20px;
  margin-left: 20px; }

.padding {
  padding: 20px; }

.no-padding {
  padding: 0; }

.padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-horizontal {
  padding-left: 20px;
  padding-right: 20px; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.justify-text, .post .post-content {
  text-align: justify; }

.center-vertical {
  margin: auto 0 auto 0; }

.center-block {
  display: table;
  margin: 0 auto; }

.vertical-top {
  vertical-align: top; }

.vertical-center {
  vertical-align: center; }

.vertical-bottom {
  vertical-align: bottom; }

.inline-block, .full, .half, .one-third, .two-thirds, .one-quarter, .three-quarters {
  display: inline-block; }

.full {
  width: 100%; }

.half {
  width: 49%; }

.one-third {
  width: 33%; }

.one-third-max {
  max-width: 33%; }

.two-thirds {
  width: 66%; }

.one-quarter {
  width: 24%; }

.three-quarters {
  width: 74%; }

.light {
  background-color: whitesmoke; }

.stable, .button, .button-positive, .button-primary, .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook, button, .navbar, .navbar-positive, .navbar-energized, .navbar-dark, nav {
  background-color: #DCD6D8; }

.positive, .button-positive, .button-primary, .success, .navbar-positive {
  background-color: #349B89; }

.calm, .button-calm, .button-secondary, .notice {
  background-color: #99CDC4; }

.energized, .button-energized, .warning, .navbar-energized {
  background-color: #EC7149; }

.dark, .button-dark, .navbar-dark {
  background-color: #2F3439; }

.red, .button-red, .button-error, .error {
  background-color: #9b2929; }

.no-color {
  background-color: transparent !important; }

input, .input, textarea {
  vertical-align: middle;
  margin: 8px 0 8px 0; }
  input:focus, .input:focus, textarea:focus {
    outline: 0; }
  input:disabled, .input:disabled, textarea:disabled {
    background-color: #DCD6D8;
    border-color: #2F3439; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
.input,
textarea {
  border: 1px solid #DCD6D8;
  padding: 10px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  .input:focus,
  textarea:focus {
    border-color: #349B89; }
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="password"]:disabled,
  input[type="number"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  .input:disabled,
  textarea:disabled {
    border-color: #ad9fa4; }

input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="checkbox"]:before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    visibility: visible;
    border: 2px solid #c5babe;
    border-radius: 2px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    font-weight: bold; }
  input[type="checkbox"]:checked:before {
    color: #349B89;
    font-family: FontAwesome;
    content: "\f00c";
    border-color: #349B89; }
  input[type="checkbox"]:hover:not(:checked):before {
    color: #c5babe;
    font-family: FontAwesome;
    content: "\f00c"; }

input[type="radio"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="radio"]:before {
    font-family: FontAwesome;
    color: #DCD6D8;
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 11px;
    height: 11px;
    border: 2px solid #c5babe;
    border-radius: 50%;
    visibility: visible;
    line-height: 12px;
    font-size: 14px;
    text-align: center; }
  input[type="radio"]:checked:before {
    padding-left: -2px;
    color: #349B89;
    background-color: #349B89; }
  input[type="radio"]:hover:not(:checked):before {
    background-color: #c5babe; }

fieldset {
  border: 1px solid #ad9fa4;
  border-radius: 2px; }

.input-group {
  margin: 0;
  border: none;
  padding: 0; }
  .input-group input, .input-group textarea {
    display: block;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px; }
    .input-group input:focus, .input-group textarea:focus {
      z-index: 3; }
    .input-group input:first-child, .input-group textarea:first-child {
      top: 1px;
      border-radius: 2px 2px 0 0;
      margin: 0; }
      .input-group input:first-child:last-child, .input-group textarea:first-child:last-child {
        top: 1px;
        border-radius: 2px;
        margin: 0; }
    .input-group input:last-child, .input-group textarea:last-child {
      top: -2px;
      border-radius: 0 0 2px 2px;
      margin: 0; }

.button, .button-positive, .button-primary, .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook, button {
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: 100;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .button:hover, .button-positive:hover, .button-primary:hover, .button-calm:hover, .button-secondary:hover, .button-energized:hover, .button-red:hover, .button-error:hover, .button-dark:hover, .button-facebook:hover, button:hover {
    cursor: pointer;
    background-color: #e8e4e5; }
  .button:active, .button-positive:active, .button-primary:active, .button-calm:active, .button-secondary:active, .button-energized:active, .button-red:active, .button-error:active, .button-dark:active, .button-facebook:active, button:active {
    background-color: #c5babe; }
  .button:focus, .button-positive:focus, .button-primary:focus, .button-calm:focus, .button-secondary:focus, .button-energized:focus, .button-red:focus, .button-error:focus, .button-dark:focus, .button-facebook:focus, button:focus {
    outline: 0; }

.button-positive, .button-primary {
  color: white; }
  .button-positive:hover, .button-primary:hover {
    color: white;
    background-color: #42c0aa; }
  .button-positive:active, .button-primary:active {
    color: white;
    background-color: #277567; }

.button-calm, .button-secondary {
  color: white; }
  .button-calm:hover, .button-secondary:hover {
    color: white;
    background-color: #bbded8; }
  .button-calm:active, .button-secondary:active {
    color: white;
    background-color: #77bcb0; }

.button-energized {
  color: white; }
  .button-energized:hover {
    color: white;
    background-color: #f19577; }
  .button-energized:active {
    color: white;
    background-color: #e74d1b; }

.button-red, .button-error {
  color: white; }
  .button-red:hover, .button-error:hover {
    background-color: #c33434;
    color: white; }
  .button-red:active, .button-error:active {
    color: white;
    background-color: #731e1e; }

.button-dark {
  color: white; }
  .button-dark:hover {
    background-color: #464d55;
    color: white; }
  .button-dark:active {
    background-color: #181a1d;
    color: white; }

.button-facebook {
  background-color: #344e86;
  color: white; }
  .button-facebook:hover {
    background-color: white;
    color: #344e86; }
  .button-facebook:active {
    background-color: #263961;
    color: white; }

.button-small {
  font-size: 80%;
  font-weight: lighter;
  padding: 5px; }

.button-large {
  font-size: 110%;
  padding: 20px 28px; }

.button-clean, .alert .alert-close button, .notice .alert-close button, .success .alert-close button, .warning .alert-close button, .error .alert-close button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit; }
  .button-clean:focus, .alert .alert-close button:focus, .notice .alert-close button:focus, .success .alert-close button:focus, .warning .alert-close button:focus, .error .alert-close button:focus {
    outline: 0;
    background-color: inherit; }
  .button-clean:hover, .alert .alert-close button:hover, .notice .alert-close button:hover, .success .alert-close button:hover, .warning .alert-close button:hover, .error .alert-close button:hover {
    background-color: inherit; }

.alert, .notice, .success, .warning, .error {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0 10px 0;
  padding: 10px;
  color: white; }
  .alert .alert-close, .notice .alert-close, .success .alert-close, .warning .alert-close, .error .alert-close {
    padding: 0 5px 0 5px;
    float: right; }
    .alert .alert-close:hover, .notice .alert-close:hover, .success .alert-close:hover, .warning .alert-close:hover, .error .alert-close:hover {
      cursor: pointer; }
  .alert .info:before, .notice .info:before, .success .info:before, .warning .info:before, .error .info:before {
    font-weight: bold; }

.notice {
  border-color: #77bcb0; }
  .notice .alert-close:hover {
    color: #77bcb0; }
  .notice .info:before {
    content: "Info: "; }

.success {
  border-color: #277567; }
  .success .alert-close:hover {
    color: #277567; }
  .success .info:before {
    content: "Sucesso: "; }

.warning {
  border-color: #e74d1b; }
  .warning .alert-close:hover {
    color: #e74d1b; }
  .warning .info:before {
    content: "Aviso: "; }

.error {
  border-color: #731e1e; }
  .error .alert-close:hover {
    color: #731e1e; }
  .error .info:before {
    content: "Erro: "; }

input.warn {
  border-color: #EC7149;
  color: #2F3439; }
  input.warn::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #EC7149; }
  input.warn:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #EC7149;
    opacity: 1; }
  input.warn::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #EC7149;
    opacity: 1; }
  input.warn:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #EC7149; }
  input.warn:focus {
    border-color: #9b2929; }

[tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }
  [tooltip]:before, [tooltip]:after {
    visibility: hidden;
    opacity: 0; }
  [tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    border-radius: 3px;
    background-color: #2F3439;
    color: #DCD6D8;
    content: attr(tooltip);
    text-align: center;
    font-size: 14px; }
  [tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #2F3439;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0; }
  [tooltip]:hover:before, [tooltip]:hover:after {
    visibility: visible;
    opacity: 1; }

.navbar, .navbar-positive, .navbar-energized, .navbar-dark, nav {
  padding: 15px 5% 15px 5%;
  color: #9b2929; }
  .navbar ul, .navbar-positive ul, .navbar-energized ul, .navbar-dark ul, nav ul {
    list-style: none;
    margin: 0;
    text-align: center; }
    .navbar ul li, .navbar-positive ul li, .navbar-energized ul li, .navbar-dark ul li, nav ul li {
      display: inline;
      position: relative; }
      .navbar ul li a, .navbar-positive ul li a, .navbar-energized ul li a, .navbar-dark ul li a, nav ul li a {
        z-index: 0;
        color: inherit;
        padding: 15px; }
        .navbar ul li a:hover, .navbar-positive ul li a:hover, .navbar-energized ul li a:hover, .navbar-dark ul li a:hover, nav ul li a:hover {
          text-decoration: none; }
      .navbar ul li:hover > a, .navbar-positive ul li:hover > a, .navbar-energized ul li:hover > a, .navbar-dark ul li:hover > a, nav ul li:hover > a {
        background: #9b2929;
        color: white; }
  .navbar .nav-right, .navbar-positive .nav-right, .navbar-energized .nav-right, .navbar-dark .nav-right, nav .nav-right {
    text-align: right; }
  .navbar .brand, .navbar-positive .brand, .navbar-energized .brand, .navbar-dark .brand, nav .brand {
    color: inherit;
    position: relative;
    float: left;
    font-weight: 100;
    letter-spacing: 5px; }
    .navbar .brand:hover, .navbar-positive .brand:hover, .navbar-energized .brand:hover, .navbar-dark .brand:hover, nav .brand:hover {
      color: #2F3439;
      text-decoration: none; }
  .navbar h1 > a.brand, .navbar-positive h1 > a.brand, .navbar-energized h1 > a.brand, .navbar-dark h1 > a.brand, nav h1 > a.brand {
    top: -10px; }

.navbar ul li ul, .navbar-positive ul li ul, .navbar-energized ul li ul, .navbar-dark ul li ul, nav ul li ul {
  overflow: auto;
  max-height: 500px;
  z-index: 2;
  position: absolute;
  padding: 0;
  top: 165%;
  left: 0;
  width: 200px;
  display: none;
  opacity: 0;
  visibility: hidden;
  background: #9b2929;
  color: white; }
  .navbar ul li ul li, .navbar-positive ul li ul li, .navbar-energized ul li ul li, .navbar-dark ul li ul li, nav ul li ul li {
    padding: 15px;
    display: block; }
    .navbar ul li ul li a, .navbar-positive ul li ul li a, .navbar-energized ul li ul li a, .navbar-dark ul li ul li a, nav ul li ul li a {
      padding: 0;
      color: inherit;
      width: 100%;
      height: 100%; }
    .navbar ul li ul li:hover, .navbar-positive ul li ul li:hover, .navbar-energized ul li ul li:hover, .navbar-dark ul li ul li:hover, nav ul li ul li:hover {
      background: #c33434; }
    .navbar ul li ul li:hover > a, .navbar-positive ul li ul li:hover > a, .navbar-energized ul li ul li:hover > a, .navbar-dark ul li ul li:hover > a, nav ul li ul li:hover > a {
      z-index: 3;
      background: inherit;
      color: inherit; }
.navbar ul li:hover ul, .navbar-positive ul li:hover ul, .navbar-energized ul li:hover ul, .navbar-dark ul li:hover ul, nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.navbar-positive {
  color: white; }
  .navbar-positive ul li:hover > a {
    background: #2F3439;
    color: #99CDC4; }
  .navbar-positive ul li ul {
    color: #99CDC4;
    background: #2F3439; }
    .navbar-positive ul li ul li:hover {
      background: #464d55; }
  .navbar-positive .brand:hover {
    color: #2F3439; }

.navbar-dark ul li a {
  color: white; }
.navbar-dark ul li:hover > a {
  background: #349B89;
  color: #2F3439; }
.navbar-dark ul li ul {
  background: #349B89;
  color: #2F3439; }
  .navbar-dark ul li ul li:hover {
    background: #42c0aa; }
.navbar-dark .brand {
  color: white; }
  .navbar-dark .brand:hover {
    color: #349B89; }

select {
  border: 1px solid #DCD6D8;
  padding: 5px;
  border-radius: 3px; }
  select:focus {
    outline: none; }

.post .post-image {
  max-width: 100%; }
.post .post-title {
  border-bottom: 1px solid #99CDC4;
  margin-bottom: 5px; }

.post-time {
  font-weight: 100;
  font-size: .9em; }

.post-list .post .post-title {
  border: none;
  font-weight: bold; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2F3439;
  background: whitesmoke;
  margin: 0;
  min-height: 100%;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 2em; }

.section {
  padding-bottom: 20px;
  border-bottom: 1px solid #DCD6D8;
  margin-bottom: 20px; }

a {
  color: #55ab9c;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #22453f; }

.all-caps, .navbar .brand, .navbar-positive .brand, .navbar-energized .brand, .navbar-dark .brand, nav .brand, .logo {
  text-transform: uppercase; }

.logo {
  color: #9b2929;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 4.5em; }

.content {
  padding: 0 15% 140px 15%; }

footer {
  background-color: #9b2929;
  color: white;
  font-weight: 300;
  font-size: .9em;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0; }
  footer a {
    color: #f3a78e; }
    footer a:hover {
      color: #EC7149; }

/*# sourceMappingURL=style.css.map */
