@import url(//fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.float-right {
  float: right; }

.float-left {
  float: left; }

.margin {
  margin: 20px; }

.no-margin {
  margin: 0; }

.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-horizontal {
  margin-left: 20px;
  margin-right: 20px; }

.padding {
  padding: 20px; }

.no-padding {
  padding: 0; }

.padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-horizontal {
  padding-left: 20px;
  padding-right: 20px; }

.center-text {
  text-align: center; }

.center-vertical {
  margin: auto 0 auto 0; }

.center-block {
  display: table;
  margin: auto; }

.full, .alert, .notice, .success, .warning, .error, .navbar, .navbar-positive, .navbar-energized, .navbar-dark, .post .post-title {
  width: 100%; }

.half {
  width: 50%; }

.one-third {
  width: 33%; }

.two-thirds {
  width: 66%; }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.light {
  background-color: whitesmoke; }

.stable, .button, .button-positive, .button-primary, input[type="submit"], .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook, button, .navbar, .navbar-positive, .navbar-energized, .navbar-dark {
  background-color: #DCD6D8; }

.positive, .button-positive, .button-primary, input[type="submit"], .success, .navbar-positive {
  background-color: #349B89; }

.calm, .button-calm, .button-secondary, .notice {
  background-color: #99CDC4; }

.energized, .button-energized, .warning, .navbar-energized {
  background-color: #EC7149; }

.dark, .button-dark, .navbar-dark {
  background-color: #2F3439; }

.red, .button-red, .button-error, .error {
  background-color: #9b2929; }

input, .input, textarea {
  margin: 8px 0 8px 0; }
  input:focus, .input:focus, textarea:focus {
    outline: 0; }
  input:disabled, .input:disabled, textarea:disabled {
    background-color: #DCD6D8;
    border-color: #2F3439; }

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], .input, textarea {
  border-radius: 2px;
  border: 1px solid #DCD6D8;
  padding: 5px 0 5px 0; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, .input:focus, textarea:focus {
    border-color: #349B89; }
  input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, .input:disabled, textarea:disabled {
    border-color: inherit; }

input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="checkbox"]:before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    visibility: visible;
    border: 2px solid #DCD6D8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    font-weight: bold; }
  input[type="checkbox"]:checked:before {
    color: #349B89;
    font-family: FontAwesome;
    content: "\f00c";
    border-color: #349B89; }
  input[type="checkbox"]:hover:not(:checked):before {
    color: #DCD6D8;
    font-family: FontAwesome;
    content: "\f00c"; }

input[type="radio"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="radio"]:before {
    font-family: FontAwesome;
    color: #DCD6D8;
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 11px;
    height: 11px;
    border: 2px solid #DCD6D8;
    border-radius: 50%;
    visibility: visible;
    line-height: 12px;
    font-size: 14px;
    text-align: center; }
  input[type="radio"]:checked:before {
    padding-left: -2px;
    color: #349B89;
    background-color: #349B89; }
  input[type="radio"]:hover:not(:checked):before {
    background-color: #DCD6D8; }

fieldset {
  border: 1px solid #ad9fa4;
  border-radius: 3px; }

.button, .button-positive, .button-primary, input[type="submit"], .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook, button {
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: 100;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .button:hover, .button-positive:hover, .button-primary:hover, input[type="submit"]:hover, .button-calm:hover, .button-secondary:hover, .button-energized:hover, .button-red:hover, .button-error:hover, .button-dark:hover, .button-facebook:hover, button:hover {
    cursor: pointer;
    background-color: #e8e4e5; }
  .button:active, .button-positive:active, .button-primary:active, input[type="submit"]:active, .button-calm:active, .button-secondary:active, .button-energized:active, .button-red:active, .button-error:active, .button-dark:active, .button-facebook:active, button:active {
    background-color: #c5babe; }
  .button:focus, .button-positive:focus, .button-primary:focus, input[type="submit"]:focus, .button-calm:focus, .button-secondary:focus, .button-energized:focus, .button-red:focus, .button-error:focus, .button-dark:focus, .button-facebook:focus, button:focus {
    outline: 0; }

.button-positive, .button-primary, input[type="submit"] {
  color: white; }
  .button-positive:hover, .button-primary:hover, input[type="submit"]:hover {
    background-color: #42c0aa; }
  .button-positive:active, .button-primary:active, input[type="submit"]:active {
    background-color: #277567; }

.button-calm, .button-secondary {
  color: white; }
  .button-calm:hover, .button-secondary:hover {
    background-color: #bbded8; }
  .button-calm:active, .button-secondary:active {
    background-color: #77bcb0; }

.button-energized {
  color: white; }
  .button-energized:hover {
    background-color: #f19577; }
  .button-energized:active {
    background-color: #e74d1b; }

.button-red, .button-error {
  color: white; }
  .button-red:hover, .button-error:hover {
    background-color: #c33434; }
  .button-red:active, .button-error:active {
    background-color: #731e1e; }

.button-dark {
  color: white; }
  .button-dark:hover {
    background-color: #464d55; }
  .button-dark:active {
    background-color: #181a1d; }

.button-facebook {
  background-color: #344e86;
  color: white; }
  .button-facebook:hover {
    background-color: white;
    color: #344e86; }
  .button-facebook:active {
    background-color: #263961;
    color: white; }

.button-small {
  font-size: 80%;
  font-weight: lighter;
  padding: 5px; }

.button-large {
  font-size: 110%;
  padding: 20px 28px; }

.button-clean, .alert .alert-close button, .notice .alert-close button, .success .alert-close button, .warning .alert-close button, .error .alert-close button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit; }
  .button-clean:focus, .alert .alert-close button:focus, .notice .alert-close button:focus, .success .alert-close button:focus, .warning .alert-close button:focus, .error .alert-close button:focus {
    outline: 0;
    background-color: inherit; }
  .button-clean:hover, .alert .alert-close button:hover, .notice .alert-close button:hover, .success .alert-close button:hover, .warning .alert-close button:hover, .error .alert-close button:hover {
    background-color: inherit; }

.alert, .notice, .success, .warning, .error {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0 10px 0;
  padding: 10px;
  color: white; }
  .alert .alert-close, .notice .alert-close, .success .alert-close, .warning .alert-close, .error .alert-close {
    padding: 0 5px 0 5px;
    float: right; }
    .alert .alert-close:hover, .notice .alert-close:hover, .success .alert-close:hover, .warning .alert-close:hover, .error .alert-close:hover {
      cursor: pointer; }
  .alert .info:before, .notice .info:before, .success .info:before, .warning .info:before, .error .info:before {
    font-weight: bold; }

.notice {
  border-color: #77bcb0; }
  .notice .alert-close:hover {
    color: #77bcb0; }
  .notice .info:before {
    content: "Info: "; }

.success {
  border-color: #277567; }
  .success .alert-close:hover {
    color: #277567; }
  .success .info:before {
    content: "Sucesso: "; }

.warning {
  border-color: #e74d1b; }
  .warning .alert-close:hover {
    color: #e74d1b; }
  .warning .info:before {
    content: "Aviso: "; }

.error {
  border-color: #731e1e; }
  .error .alert-close:hover {
    color: #731e1e; }
  .error .info:before {
    content: "Erro: "; }

input.warn {
  border-color: #EC7149;
  color: #2F3439; }
  input.warn::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #EC7149; }
  input.warn:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #EC7149;
    opacity: 1; }
  input.warn::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #EC7149;
    opacity: 1; }
  input.warn:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #EC7149; }
  input.warn:focus {
    border-color: #9b2929; }

[tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }
  [tooltip]:before, [tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; }
  [tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    border-radius: 3px;
    background-color: #2F3439;
    color: #DCD6D8;
    content: attr(tooltip);
    text-align: center;
    font-size: 14px; }
  [tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #2F3439;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0; }
  [tooltip]:hover:before, [tooltip]:hover:after {
    visibility: visible;
    opacity: 1; }

.navbar, .navbar-positive, .navbar-energized, .navbar-dark {
  padding: 15px; }
  .navbar nav, .navbar-positive nav, .navbar-energized nav, .navbar-dark nav, .navbar ul, .navbar-positive ul, .navbar-energized ul, .navbar-dark ul {
    list-style-type: none;
    margin: 0;
    text-align: center; }
    .navbar nav a, .navbar-positive nav a, .navbar-energized nav a, .navbar-dark nav a, .navbar ul a, .navbar-positive ul a, .navbar-energized ul a, .navbar-dark ul a {
      text-decoration: none;
      color: #9b2929;
      padding: 15px; }
      .navbar nav a:hover, .navbar-positive nav a:hover, .navbar-energized nav a:hover, .navbar-dark nav a:hover, .navbar ul a:hover, .navbar-positive ul a:hover, .navbar-energized ul a:hover, .navbar-dark ul a:hover {
        background-color: #9b2929;
        color: white; }
  .navbar .nav-right, .navbar-positive .nav-right, .navbar-energized .nav-right, .navbar-dark .nav-right {
    text-align: right; }
  .navbar .brand, .navbar-positive .brand, .navbar-energized .brand, .navbar-dark .brand {
    color: #9b2929;
    position: relative;
    float: left;
    font-weight: 100;
    text-decoration: none;
    letter-spacing: 5px; }
    .navbar .brand:hover, .navbar-positive .brand:hover, .navbar-energized .brand:hover, .navbar-dark .brand:hover {
      color: white; }

.navbar-positive nav a, .navbar-positive ul a {
  color: white; }
  .navbar-positive nav a:hover, .navbar-positive ul a:hover {
    background-color: #99CDC4;
    color: #2F3439; }
.navbar-positive .brand {
  color: white; }
  .navbar-positive .brand:hover {
    color: #2F3439; }

.navbar-dark nav a, .navbar-dark ul a {
  color: white; }
  .navbar-dark nav a:hover, .navbar-dark ul a:hover {
    background-color: #349B89;
    color: #2F3439; }
.navbar-dark .brand {
  color: white; }
  .navbar-dark .brand:hover {
    color: #349B89; }

select {
  border: 1px solid #DCD6D8;
  padding: 5px;
  border-radius: 3px; }
  select:focus {
    outline: none; }

.post .post-image {
  max-width: 100%; }
.post .post-title {
  border-bottom: 1px solid #99CDC4;
  margin-bottom: 5px; }
.post .post-content .post-time {
  font-weight: 100;
  font-size: .9em; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2F3439;
  background: whitesmoke;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 2em; }

section {
  padding-bottom: 20px;
  border-bottom: 1px solid #DCD6D8;
  margin-bottom: 20px; }

a {
  color: #55ab9c; }
  a:hover {
    color: #22453f; }

.all-caps, .navbar .brand, .navbar-positive .brand, .navbar-energized .brand, .navbar-dark .brand, .logo {
  text-transform: uppercase; }

.logo {
  color: #9b2929;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 4.5em; }

.content {
  padding: 0 15% 0 15%; }

footer {
  background-color: #9b2929;
  color: white;
  font-weight: 300;
  font-size: .9em; }
  footer a {
    color: #f3a78e; }
    footer a:hover {
      color: #EC7149; }

/*# sourceMappingURL=style.css.map */
