@import url(//fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.float-right {
  float: right; }

.float-left {
  float: left; }

.margin {
  margin: 20px; }

.no-margin {
  margin: 0; }

.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-horizontal {
  margin-left: 20px;
  margin-right: 20px; }

.padding {
  padding: 20px; }

.no-padding {
  padding: 0; }

.padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-horizontal {
  padding-left: 20px;
  padding-right: 20px; }

.center-text {
  text-align: center; }

.center-vertical {
  margin: auto 0 auto 0; }

.center-block {
  display: table;
  margin: auto; }

.full, .alert, .notice, .success, .error, .navbar, .navbar-positive, .navbar-energized, .post .post-title {
  width: 100%; }

.half {
  width: 50%; }

.one-third {
  width: 33%; }

.two-thirds {
  width: 66%; }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.light {
  background-color: whitesmoke; }

.stable, .button, .button-positive, .button-primary, .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook, .navbar, .navbar-positive, .navbar-energized {
  background-color: #DCD6D8; }

.positive, .success, .button-positive, .button-primary, .navbar-positive {
  background-color: #349B89; }

.calm, .notice, .button-calm, .button-secondary {
  background-color: #99CDC4; }

.energized, .error, .button-energized, .navbar-energized {
  background-color: #EC7149; }

.dark, .button-dark {
  background-color: #2D2F31; }

.red, .button-red, .button-error {
  background-color: #9b2929; }

input, .input, textarea {
  margin: 8px 0 8px 0; }
  input:focus, .input:focus, textarea:focus {
    outline: 0; }
  input:disabled, .input:disabled, textarea:disabled {
    background-color: #DCD6D8;
    border-color: #2D2F31; }

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], .input, textarea {
  border-radius: 2px;
  border: 1px solid #DCD6D8;
  padding: 5px 0 5px 0; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, .input:focus, textarea:focus {
    border-color: #349B89; }
  input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, .input:disabled, textarea:disabled {
    border-color: inherit; }

input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="checkbox"]:before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    visibility: visible;
    border: 2px solid #DCD6D8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    font-weight: bold; }
  input[type="checkbox"]:checked:before {
    color: #349B89;
    font-family: FontAwesome;
    content: "\f00c";
    border-color: #349B89; }
  input[type="checkbox"]:hover:not(:checked):before {
    color: #DCD6D8;
    font-family: FontAwesome;
    content: "\f00c"; }

input[type="radio"] {
  visibility: hidden;
  cursor: pointer;
  margin-right: 8px; }
  input[type="radio"]:before {
    font-family: FontAwesome;
    color: #DCD6D8;
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 11px;
    height: 11px;
    border: 2px solid #DCD6D8;
    border-radius: 50%;
    visibility: visible;
    line-height: 12px;
    font-size: 14px;
    text-align: center; }
  input[type="radio"]:checked:before {
    padding-left: -2px;
    color: #349B89;
    background-color: #349B89; }
  input[type="radio"]:hover:not(:checked):before {
    background-color: #DCD6D8; }

fieldset {
  border: 1px solid #ad9fa4;
  border-radius: 3px; }

.alert, .notice, .success, .error {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  font-weight: bold;
  color: white; }
  .alert .alert-close, .notice .alert-close, .success .alert-close, .error .alert-close {
    padding: 0 5px 0 5px;
    border-left: 1px solid;
    float: right; }
    .alert .alert-close:hover, .notice .alert-close:hover, .success .alert-close:hover, .error .alert-close:hover {
      cursor: pointer; }

.notice {
  border-color: #77bcb0; }
  .notice .alert-close:hover {
    background-color: #77bcb0; }

.success {
  border-color: #277567; }
  .success .alert-close:hover {
    background-color: #277567; }

.error {
  border-color: #e74d1b; }
  .error .alert-close:hover {
    background-color: #e74d1b; }

input.warning {
  border-color: #EC7149;
  color: #2D2F31; }
  input.warning::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #EC7149; }
  input.warning:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #EC7149;
    opacity: 1; }
  input.warning::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #EC7149;
    opacity: 1; }
  input.warning:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #EC7149; }
  input.warning:focus {
    border-color: #9b2929; }

.button, .button-positive, .button-primary, .button-calm, .button-secondary, .button-energized, .button-red, .button-error, .button-dark, .button-facebook {
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: 100;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .button:hover, .button-positive:hover, .button-primary:hover, .button-calm:hover, .button-secondary:hover, .button-energized:hover, .button-red:hover, .button-error:hover, .button-dark:hover, .button-facebook:hover {
    cursor: pointer;
    background-color: #f3f2f2; }
  .button:active, .button-positive:active, .button-primary:active, .button-calm:active, .button-secondary:active, .button-energized:active, .button-red:active, .button-error:active, .button-dark:active, .button-facebook:active {
    background-color: #c5babe; }
  .button:focus, .button-positive:focus, .button-primary:focus, .button-calm:focus, .button-secondary:focus, .button-energized:focus, .button-red:focus, .button-error:focus, .button-dark:focus, .button-facebook:focus {
    outline: 0; }

.button-positive, .button-primary {
  color: white; }
  .button-positive:hover, .button-primary:hover {
    background-color: #42c0aa; }
  .button-positive:active, .button-primary:active {
    background-color: #277567; }

.button-calm, .button-secondary {
  color: white; }
  .button-calm:hover, .button-secondary:hover {
    background-color: #bbded8; }
  .button-calm:active, .button-secondary:active {
    background-color: #77bcb0; }

.button-energized {
  color: white; }
  .button-energized:hover {
    background-color: #f19577; }
  .button-energized:active {
    background-color: #e74d1b; }

.button-red, .button-error {
  color: white; }
  .button-red:hover, .button-error:hover {
    background-color: #c33434; }
  .button-red:active, .button-error:active {
    background-color: #731e1e; }

.button-dark {
  color: white; }
  .button-dark:hover {
    background-color: #45494c; }
  .button-dark:active {
    background-color: #151616; }

.button-facebook {
  background-color: #344e86;
  color: white; }
  .button-facebook:hover {
    background-color: white;
    color: #344e86; }
  .button-facebook:active {
    background-color: #263961;
    color: white; }

.button-small {
  font-size: 80%;
  font-weight: lighter;
  padding: 5px; }

.button-large {
  font-size: 110%;
  padding: 20px 28px; }

.navbar, .navbar-positive, .navbar-energized {
  padding: 15px; }
  .navbar nav, .navbar-positive nav, .navbar-energized nav, .navbar ul, .navbar-positive ul, .navbar-energized ul {
    list-style-type: none;
    margin: 0;
    text-align: center; }
    .navbar nav a, .navbar-positive nav a, .navbar-energized nav a, .navbar ul a, .navbar-positive ul a, .navbar-energized ul a {
      text-decoration: none;
      color: #9b2929;
      padding: 15px; }
      .navbar nav a:hover, .navbar-positive nav a:hover, .navbar-energized nav a:hover, .navbar ul a:hover, .navbar-positive ul a:hover, .navbar-energized ul a:hover {
        background-color: #9b2929;
        color: white; }
  .navbar .brand, .navbar-positive .brand, .navbar-energized .brand {
    color: #9b2929;
    position: relative;
    float: left;
    font-weight: bold;
    text-decoration: none; }
    .navbar .brand:hover, .navbar-positive .brand:hover, .navbar-energized .brand:hover {
      color: white; }

.navbar-positive nav a, .navbar-positive ul a {
  color: white; }
  .navbar-positive nav a:hover, .navbar-positive ul a:hover {
    background-color: #99CDC4;
    color: #2D2F31; }
.navbar-positive .brand {
  color: white; }
  .navbar-positive .brand:hover {
    color: #2D2F31; }

select {
  border: 1px solid #DCD6D8;
  padding: 5px;
  border-radius: 3px; }
  select:focus {
    outline: none; }

.post .post-image {
  max-width: 100%; }
.post .post-title {
  border-bottom: 1px solid #99CDC4;
  margin-bottom: 5px; }
.post .post-content .post-time {
  font-weight: 100;
  font-size: .9em; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2D2F31;
  background: whitesmoke;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 2em; }

section {
  padding-bottom: 20px;
  border-bottom: 1px solid #DCD6D8;
  margin-bottom: 20px; }

a {
  color: #55ab9c; }
  a:hover {
    color: #22453f; }

.all-caps, .navbar .brand, .navbar-positive .brand, .navbar-energized .brand, .logo {
  text-transform: uppercase; }

.logo {
  color: #9b2929;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 4.5em; }

.content {
  padding: 0 15% 0 15%; }

footer {
  background-color: #9b2929;
  color: white;
  font-weight: 300;
  font-size: .9em; }
  footer a {
    color: #f3a78e; }
    footer a:hover {
      color: #EC7149; }

/*# sourceMappingURL=style.css.map */
