.alert{
    border: 1px solid;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: white;
    .alert-close{
        padding: 0 5px 0 5px;
        float: right;
        &:hover{
            cursor: pointer;
        }
        button{
            @extend .button-clean;
        }
    }
    .info:before{
        font-weight: bold;
    }
}

.notice{
    @extend .alert;
    @extend .calm;
    border-color: darken($calm, 10%);
    .alert-close:hover{
        color: darken($calm, 10%);
    }
    .info:before{
        content: "Info: ";
    }
}

.success{
    @extend .alert;
    @extend .positive;
    border-color: darken($positive, 10%);
    .alert-close:hover{
        color: darken($positive, 10%);
    }
    .info:before{
        content: "Sucesso: ";
    }
}

.warning{
    @extend .alert;
    @extend .energized;
    border-color: darken($energized, 10%);
    .alert-close:hover{
        color: darken($energized, 10%);
    }
    .info:before{
        content: "Aviso: ";
    }
}

.error{
    @extend .alert;
    @extend .red;
    border-color: darken($red, 10%);
    .alert-close:hover{
        color: darken($red, 10%);
    }
    .info:before{
        content: "Erro: ";
    }
}

input.warn{
    border-color: $energized;
    color: $dark;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $energized;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $energized;
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $energized;
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: $energized;
    }
    &:focus{
        border-color: $red;
    }
}