.navbar, nav{
    @extend %clearfix;
    @extend .stable;
    padding: 30px 5% 15px 5%;
    color: $red;
    box-shadow: 0 1px 3px $dark;
    z-index: 0;
    ul{
        list-style: none;
        margin: 0;
        text-align: center;
        li{
            display: inline;
            position: relative;
            a{
                z-index: 0;
                color: inherit;
                padding: 15px;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover > a{
                background: $red;
                color: white;
            }
        }
    }
    
    .nav-right{
        text-align: right;
    }
    
    .brand{
        @extend .all-caps;
        @extend .no-margin;
        color: inherit;
        position: relative;
        float: left;
        font-weight: 100;
        letter-spacing: 5px;
        &:hover{
            color: $dark;
            text-decoration:none;
        }
    }
    
    h1 > a.brand{
        top: -10px;
    }
    
}

//Código pra fazer dropdowns
.navbar, nav{
    ul li{
        ul{
            overflow: auto;
            max-height: 500px;
            z-index: 2;
            position: absolute;
            padding: 0;
            top: 100%;
            left: 0;
            width: 200px;
            display: none;
            opacity: 0;
            visibility: hidden;
            background: $red;
            color: white;
            box-shadow: inset 1px 1px 5px $red;
            li{
                padding: 15px;
                display: block;
                a{
                    padding: 0;
                    color: inherit;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    background: lighten($red, 10%);
                }
                &:hover > a{
                    background: inherit;
                    color: inherit;
                }
            }
        }
        &:hover{
            ul{
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.navbar-positive{
    @extend .navbar;
    @extend .positive;
    color: white;
    ul{
        li{
            &:hover > a{
                background: $dark;
                color: $calm;
            }
            ul{
                box-shadow: inset 1px 1px 5px $dark;
                color: $calm;
                background: $dark;
                li:hover{
                    background: lighten($dark, 10%);
                }
            }
        }
    }
    
    .brand{
        &:hover{
            color: $dark;
        }
    }
}

.navbar-energized{
    @extend .navbar;
    @extend .energized;
}

.navbar-dark{
    @extend .navbar;
    @extend .dark;
    ul{
        li{
            a{
                color: white;
            }
            &:hover > a{
                background: $positive;
                color: $dark;
            }
            ul{
                box-shadow: inset 1px 1px 5px $positive;
                background: $positive;
                color: $dark;
                li:hover{
                    background: lighten($positive, 10%);
                }
            }
        }
    }
    
    .brand{
        color: white;
        &:hover{
            color: $positive;
        }
    }
}

select{
    border: 1px solid $stable;
    padding: 5px;
    border-radius: 3px;
    &:focus{
        outline:none;
    }
}