$padding: 20px;
$margin: 20px;

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.margin{
    margin: $margin;   
}

.no-margin{
    margin: 0;
}

.margin-vertical{
    margin-top: $margin;
    margin-bottom: $margin;
}

.margin-horizontal{
    margin-right: $margin;
    margin-left: $margin;
}

.padding{
    padding: $padding;
}

.no-padding{
    padding: 0;
}

.padding-vertical{
    padding-top: $padding;
    padding-bottom: $padding;
}

.padding-horizontal{
    padding-left: $padding;
    padding-right: $padding;
}

.center-text{
    text-align: center;
}

.left-text{
    text-align: left;
}

.right-text{
    text-align: right;
}

.justify-text{
    text-align: justify;
}

.center-vertical{
    margin: auto 0 auto 0;
}

.center-block{
    display: table;
    margin: 0 auto;
}

.vertical-top{
    vertical-align: top;
}

.vertical-center{
    vertical-align: center;
}

.vertical-bottom{
    vertical-align: bottom;
}

.inline-block{
    display: inline-block;
}

.full{
    @extend .inline-block;
    width: 100%;
}

.half{
    @extend .inline-block;
    width: 49%;
}

.one-third{
    @extend .inline-block;
    width: 33%;
}

.two-thirds{
    @extend .inline-block;
    width: 66%;
}

.one-quarter{
    @extend .inline-block;
    width: 25%;
}

.three-quarters{
    @extend .inline-block;
    width: 74%;
}