---
layout: default
title: Cursos e Projetos
header: true
---
<section class="content padding-vertical margin-vertical page-wrap">
    <article class="card">
        <p class="text-center">
            Projetos ativos no PET Computação:
        </p>
        <div class="row text-left">
            <div class="col-1-3 col-md-1-1">
                <h2>Pesquisa:</h2>
                <ul class="margin-horizontal" style="columns: 3">
                    
                    {% for projeto in site.projetos %}
                    {% if projeto.eixo == 'pesquisa' %}
                    <li><a href="{{ projeto.url }}">{{ projeto.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="col-1-3 col-md-1-1">
                <h2>Ensino:</h2>
                <ul class="margin-horizontal" style="columns: 3">
                    
                    {% for projeto in site.projetos %}
                    {% if projeto.eixo == 'ensino' %}
                    <li><a href="{{ projeto.url }}">{{ projeto.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="col-1-3 col-md-1-1">
                <h2>Extensão:</h2>
                <ul class="margin-horizontal" style="columns: 3">
                    
                    {% for projeto in site.projetos %}
                    {% if projeto.eixo == 'extensao' %}
                    <li><a href="{{ projeto.url }}">{{ projeto.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
        <h2>Outros projetos:</h2>
        <ul class="margin-horizontal">
            {% for outros in site.data.projetos.outros %}
            <li><a href="{{ outros.link }}" tooltip="{{ outros.description }}">{{ outros.name }}</a></li>
            {% endfor %}
        </ul>
        <p class="text-left">Veja também nossos <a href="">projetos antigos</a>.</p>
    </article>
</section>