.bg-light{
    background-color: $light;
}

.color-light{
    color: $light;
}

.bg-stable{
    background-color: $stable;
}

.color-stable{
    color: $stable;
}

.bg-positive{
    background-color: $positive;
}

.color-positive{
    color: $positive;
}

.bg-calm{
    background-color: $calm;
}

.color-calm{
    color: $calm;
}

.bg-energized{
    background-color: $energized;
}

.color-energized{
    color: $energized;
}

.bg-dark{
    background-color: $dark;
}

.color-dark{
    color: $dark;
}

.bg-red{
    background-color: $red;
}

.color-red{
    color: $red;
}

.bg-no-color{
    background-color: white;
}


.light{
    @extend .bg-light;
    @extend .color-dark;
}

.stable{
    @extend .bg-stable;
    @extend .color-dark;
}

.positive{
    @extend .bg-positive;
    @extend .color-light;
}

.calm{
    @extend .bg-calm;
    @extend .color-light;
}

.energized{
    @extend .bg-energized;
    @extend .color-light;
}

.red{
    @extend .bg-red;
    @extend .color-light;
}

.dark{
    @extend .bg-dark;
    @extend .color-light;
}