.navbar{
    @extend %clearfix;
    @extend .stable;
    position: relative;
    padding: 0;
    color: $red;
    box-shadow: 0 1px 3px $dark;
    font-size: 90%;
    
    .brand{
        @extend .all-caps;
        @extend .no-margin;
        @extend %box-size;
        color: inherit;
        position: relative;
        float: left;
        font-weight: 100;
        letter-spacing: 5px;
        padding: $padding;
        
        &:hover{
            color: $dark;
            text-decoration: none;
        }
        
        @include breakpoint(medium){
            position: relative;
            display: block;
            float: left;
        }
    }
    
    h1 > a.brand{
        padding: $padding $padding 0 $padding !important;
    }
}

.menu-toggle{
    display: none;
    @include breakpoint(medium){
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        &:after{
            text-align: center;
            content: 'Menu';
            display: block;
            float: right;
            width: auto;
            padding: $padding;
            background: $red;
            color: white;
        }
        &:checked ~ .nav-itens{
            background: $stable;
            display: block;
            opacity: 1;
        }
    }
}

label.menu-toggle{
    @include breakpoint(medium){
        display: block;
    }
}

.nav-itens{
    @extend %clearfix;
    @extend .center-block;
    list-style: none;
    z-index: 10;
    .brand ~ &{
        float: right;
    }
    li{
        display: inline-block;
        margin-right: 1px;
        float: left;
        a{
            color: inherit;
            display: block;
            text-align: center;
            width: auto;
            padding: $padding;
            &:hover{
                text-decoration: none;
            }
        }
        &:hover, &:hover > a{
            background: $red;
            color: white;
        }
    }
    @include breakpoint(medium){
        display: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        & > li{
            display: block;
            width: 100%;
        }
        & > li > a{
            box-sizing: border-box;
            display: block;
        }
    }
}

.navbar-extended{
    padding-top: $padding*3;
}

.navbar-positive{
    @extend .navbar;
    @extend .positive;
    color: white;
    ul{
        li{
            &:hover > a{
                background: $dark;
                color: $positive;
            }
        }
    }
    
    .brand{
        &:hover{
            color: $dark;
        }
    }
    @include breakpoint(medium){
        .menu-toggle:after{
            background: $dark !important;
        }
        .menu-toggle:checked ~ .nav-itens{
            background: $positive !important;
        }
    }
}

.navbar-energized{
    @extend .navbar;
    @extend .energized;
    @include breakpoint(medium){
        .menu-toggle:checked ~ .nav-itens{
            background: $energized !important;
        }
    }
}

.navbar-dark{
    @extend .navbar;
    @extend .dark;
    ul{
        li{
            a{
                color: white;
            }
            &:hover > a{
                background: $positive;
                color: $dark;
            }
        }
    }
    
    .brand{
        color: white;
        &:hover{
            color: $positive;
        }
    }
    
    @include breakpoint(medium){
        .menu-toggle:after{
            background: $positive !important;
        }
        .menu-toggle:checked ~ .nav-itens{
            background: $dark !important;
        }
    }
}

select{
    border: 1px solid $stable;
    padding: 5px;
    border-radius: 3px;
    &:focus{
        outline:none;
    }
}