.float-right{
	float: right;
}

.float-left{
	float: left;
}

.margin{
    margin: $margin;   
}

.margin-2x{
    margin: $margin*2;
}

.no-margin{
    margin: 0;
}

.margin-vertical{
    margin-top: $margin;
    margin-bottom: $margin;
}

.margin-vertical-2x{
    margin-top: $margin*2;
    margin-bottom: $margin*2;
}

.margin-horizontal{
    margin-right: $margin;
    margin-left: $margin;
}

.margin-horizontal-2x{
    margin-right: $margin*2;
    margin-left: $margin*2;
}

.padding{
    padding: $padding;
}

.padding-2x{
    padding: $padding*2;
}

.no-padding{
    padding: 0;
}

.padding-vertical{
    padding-top: $padding;
    padding-bottom: $padding;
}

.padding-vertical-2x{
    padding-top: $padding*2;
    padding-bottom: $padding*2;
}

.padding-horizontal{
    padding-left: $padding;
    padding-right: $padding;
}

.padding-horizontal-2x{
    padding-left: $padding*2;
    padding-right: $padding*2;
}

.center-vertical{
    margin: auto 0 auto 0;
}

.center-block{
    @extend %box-size;
    display: table;
    margin: 0 auto;
}

.vertical-top{
    vertical-align: top;
}

.vertical-center{
    vertical-align: center;
}

.vertical-bottom{
    vertical-align: bottom;
}