<header>
  <div>
    <h1 class="logo text-center" id="logo">{{ site.title }}</h1>
    <nav class="navbar">
      <label for="toggle" class="menu-toggle" onclick></label>
      <input type="checkbox" class="menu-toggle" id="toggle"/>
      <ul class="nav-itens">
          <li><a href="#buttons">Botões</a></li>
          <li><a href="#menus">Menus e navegação</a></li>
          <li><a href="#inputs">Inputs e Formulários</a></li>
          <li><a href="#alerts">Alertas</a></li>
          <li><a href="#headers">Cabeçalhos</a></li>
          <li><a href="#tooltips">Tooltips</a></li>
      </ul>
    </nav>
  </div>
</header>
