<nav class="navbar-dark navbar-extended">
    <h1 class="no-margin brand"><a href="{{ "/pet/" | prepend: site.url }}">Pet computação ufpr</a></h1>
    <label for="toggle" class="menu-toggle" onclick></label>
    <input type="checkbox" class="menu-toggle" id="toggle"/>
    <ul class="nav-itens all-caps">
        <li><a href="{{ "/pet/sobre.html" | prepend: site.url }}">Sobre nós</a></li>
        <li><a href="{{ "/pet/membros.html" | prepend: site.url }}">Membros</a></li>
        <li><a href="{{ "/pet/projetos.html" | prepend: site.url }}">Cursos e Projetos</a></li>
        <li><a href="{{ "/pet/contato.html" | prepend: site.url }}">Contato</a></li>
    </ul>
</nav>
