<nav class="navbar-dark navbar-extended">
    <h1 class="no-margin brand"><a href="/index.html">Pet computação ufpr</a></h1>
    <label for="toggle" class="menu-toggle" onclick></label>
    <input type="checkbox" class="menu-toggle" id="toggle"/>
    <ul class="nav-itens all-caps">
        <li><a href="/sobre.html">Sobre nós</a></li>
        <li><a href="/membros.html">Membros</a></li>
        <li><a href="/projetos.html">Cursos e Projetos</a></li>
        <li><a href="/contato.html">Contato</a></li>
    </ul>
</nav>
