---
layout: page
title: Cursos e Projetos
header: true
---
<section class="content padding-vertical margin-vertical page-wrap">
    <article class="card">
        <p class="text-center">
            As atividades do PET Computação são divididas em 
            <strong tooltip="Alguns dizem que são mais...">três</strong> 
            eixos:
        </p>
        <div class="row text-left">
            <div class="col-1-3">
                <h2>Pesquisa:</h2>
                <ul class="margin-horizontal">
                    
                    {% for pesquisa in site.data.projetos.pesquisa %}
                    <li><a href="{{ pesquisa.link | prepend: '/site-pet/pet/' }}">{{ pesquisa.name }}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="col-1-3">
                <h2>Ensino:</h2>
                <ul>
                    {% for ensino in site.data.projetos.ensino %}
                    <li><a href="{{ ensino.link | prepend: '/site-pet/pet/' }}">{{ ensino.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-1-3">
                <h2>Extensão:</h2>
                <ul>
                    {% for extensao in site.data.projetos.extensao %}
                    <li><a href="{{ extensao.link | prepend: '/site-pet/pet/' }}">{{ extensao.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h2>Outros projetos:</h2>
        <ul class="margin-horizontal">
            {% for outros in site.data.projetos.outros %}
            <li><a href="{{ outros.link }}" tooltip="{{ outros.description }}">{{ outros.name }}</a></li>
            {% endfor %}
        </ul>
        <p class="text-left">Veja também nossos <a href="">projetos antigos</a>.</p>
    </article>
</section>