<!DOCTYPE html>
<html>
    
    {% include head.html %}
    <style>
    .header{
        color: white;
    }
    .logo{
        color: inherit;
    }
    .header a{
        color: inherit;
    }
    .membro{
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
        margin-bottom: 15px;
    }
    .membro .nome{
        display: block;
    }
    .membro .curso{
        text-transform: uppercase;
        font-weight: 100;
        display: block;
    }
    .membro a{
        display: block;
    }
    </style>
    <body>
        {% include nav.html %}
        <div class="page-wrap">
            {% if page.header %}
            <header class="header dark padding-vertical">
                <div class="center-block text-center">
                    <h1 class="logo">{{ page.title }}</h1>
                </div>
            </header>
            {% endif %}
            
            {{ content }}
        </div>
        {% include footer-pet.html %}
    </body>
</html>