---
layout: page
---
<header class="header positive padding">
    <div>
        <a href="{{ '' | prepend: '/site-pet/pet' }}"><i class="fa fa-chevron-left"></i> Voltar</a>
    </div>
    <div class="center-block text-center" style="color:white">
        <h1 class="logo">{{ page.title }}</h1>
        <h3>{{ page.subtitle }}</h3>
        <span class="post-time">{{ page.date | date:"Postado %d/%m/%y, às %R" }}</span>
    </div>
</header>
<div class="content">
  <article class="post card margin-vertical">
      <div class="post-content">
          {{ content }}
      </div>
  </article>
</div>
